<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name=".debug.SubagentSliceDebugActivity"
            android:exported="false" />

        <!-- ADB shell holds DUMP; ordinary third-party apps do not. Release variants remain signature protected. -->
        <receiver
            android:name=".core.tools.javascript.ScriptExecutionReceiver"
            android:permission="android.permission.DUMP"
            tools:replace="android:permission" />
    </application>
</manifest>
